.textcontent {
	max-height:500px;
}

.space32 {height:48px;}

.textcontent p{
	line-height:20pt;
	text-indent:12px;
}
.textcontent a{
	color:#3279b2;
}
.ainfo {border: 1px dashed #3279b2; color:#505050; padding:8px;}
b {color:blue;}
i{color:#3279b2;}
u{text-decoration:none; color:#2A8109; font-style:italic;}

.tblack {color:black !important; cursor:default !important;}
.pfont11 p {line-height: 12pt; font-size:11pt;}

