.textcontent {
}

.space32 {height:48px;}

.textcontent p{
	line-height:20pt;
	text-indent:12px;
}
.textcontent a{
	color:#3279b2;
}
.ainfo {border: 1px dashed #3279b2; color:#505050; padding:8px;}
b {color:blue;}
i{color:#3279b2;}
u{text-decoration:none; color:#2A8109; font-style:italic;}

.tblack {color:black !important; cursor:default !important;}
.pfont11 p {line-height: 12pt; font-size:11pt;}

/* Кнопки для задачек */
.ts_h4 {
	margin-top: 5px;
}
.ts_gr_buttons {
	margin-left: 120px;
}
.ts_qbtn {
	border:solid #C3D1D7 1px;
	padding:4px 8px;
	text-decoration:none;
	background:linear-gradient(to bottom, #ffffff, #ffffff,  #C3D1D7);
	cursor:pointer;
	font-size:10pt;
	line-height:16px;
}
.ts_qbtn_lock_push {
	background: #93B1C0;
    border: 2px solid #c3d1d7;
    border-bottom-width: 3px;
    border-right-width: 3px;
    color: #6a0000;
    font-size: 10pt;
    line-height: 14px;
    padding: 4px 8px;
    text-decoration: none;
}
.tsf_info {
   color: #7a888e;
   margin: 4px 0 0 24px;
}



.textcontent  pre b{color:blue; cursor:pointer;line-height:11pt; font-size:10pt;}
.textcontent  pre i{color:#3279b2; cursor:pointer;line-height:11pt; font-size:10pt;}
.textcontent  pre u{text-decoration:none; color:#2A8109; font-style:italic;cursor:pointer;line-height:11pt; font-size:10pt;}

b {color:blue;}
i{color:#3279b2;}
.strcolor i, .strcolor b, .strcolor u {font-weight:normal; font-style:normal; color:#8C5C0D;}
u{text-decoration:none; color:#2A8109; font-style:italic;}

.textcontent pre {tab-size:4;-moz-tab-size: 4; -o-tab-size:4; margin:0px; line-height:15px; font-size:10pt;}
.tblack {color:black !important; cursor:default !important;}
.pfont11 p {line-height: 12pt; font-size:11pt;}
.strcolor {color:#8C5C0D/*#F07676*/;}
.recolor {color:#F07676;}
.tred{color:red;}


.ce_l {
	line-height:15px;
	font-size:10pt;
	background-color:#D6D2D0;
	min-width:36px;
	padding-left:4px;
}
.ce_pre {
	padding-top:1px;
	max-width:400px;
}

